@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');
@import 'variables';
@import 'abstract';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $dark-color;
}

.container {
  max-width: 1180px;
  margin: 2rem auto;
  padding: 2rem 3rem;
  background-color: lighten($color: $light-color, $amount: 3%);
}

a {
  text-decoration: none;
  color: $dark-color;
}

// header

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include underline(1.8px, 10%);
}

.heading {
  &__title {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }

  &__subtitle {
    font-size: 1.5rem;
    color: lighten($color: $dark-color, $amount: 40%);
    @include uc();
  }
}

.info {
  font-size: 1.3rem;

  a {
    &::before {
      content: '';
      height: calc(1.3rem - 5px);
      width: 3px;
      background-color: lighten($color: $dark-color, $amount: 30%);
      display: inline-block;

      transform: scaleY(0);
      transform-origin: top;
      transition: 0.5s ease-in;
    }

    &:hover::before {
      transform: scaleY(1);
      transform-origin: bottom;
    }

    &:focus {
      outline: none;
    }

    &:focus::before {
      transform: scaleY(1);
      transform-origin: bottom;
    }
  }

  span {
    margin-left: 1rem;
  }

  &__mobile {
    display: block;
    margin: 0.8rem 0;
  }

  &__email {
    display: block;
    margin: 0.8rem 0;
  }

  &__website {
    display: block;
    margin: 0.8rem 0;
  }

  &__address {
    display: block;
    margin: 0.8rem 0;
  }
}

// Details section

.section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 3rem 0;

  &__left {
    margin: 0 0.5rem;
  }

  &__right {
    margin: 0 0.5rem;
    position: relative;
    padding-left: 2rem;

    @include sideline(1.2px, 20%);
  }
}

// Education Details
.education {
  @include underline(1.2px, 10%);

  &__title {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
  }

  &__details {
    margin: 1rem 0;
    line-height: 1.4;
  }
}

// Skills

.skills {
  @include underline(1.2px, 10%);

  &__title {
    margin: 1.2rem 0;
  }

  &__item {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
}

// Expertise

.expertise {
  @include underline(1.2px, 10%);

  &__title {
    margin: 1.2rem 0;
  }

  &__item {
    margin: 1rem 0;
  }
}

// Social Media

.social {
  display: block;
  width: 100%;

  &__title {
    margin: 1.2rem 0;
  }

  &__item {
    margin: 1rem 0;
  }

  a {
    position: relative;
    display: inline-block;
    padding-bottom: 0.3rem;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: $dark-color;
      bottom: 0;
      left: 0;

      transform: scaleX(0);
      transform-origin: left;
      transition: 0.5s ease-in;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: right;
    }

    &:focus {
      outline: none;
    }

    &:focus::after {
      transform: scaleX(1);
    }
  }
}

// About section

.profile {
  @include underline(1.2px, 10%);

  &__title {
    margin: 0 0 1.3rem;
  }

  &__desc {
    margin: 1rem 0;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4;
  }
}

// Experience

.experience {
  &__title {
    margin: 2rem 0;
  }

  &__item {
    margin: 2rem 0;
    font-size: 1.1rem;
  }

  &__job-title {
    font-weight: 700;
  }

  &__details {
    font-weight: 700;
    margin: 1rem 0;
  }

  &__desc {
    text-align: justify;
    line-height: 1.4;
  }

  a {
    position: relative;
    display: inline-block;
    padding-bottom: 0.3rem;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: $dark-color;
      bottom: 0;
      left: 0;

      transform: scaleX(0);
      transform-origin: left;
      transition: 0.5s ease-in;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: right;
    }

    &:focus {
      outline: none;
    }

    &:focus::after {
      transform: scaleX(1);
    }
  }
}

// Download button

.download {
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: $dark-color;
  height: 3.2rem;
  width: 3.2rem;
  padding: 0.4rem;
  border-radius: 50%;
  // box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.5);
  transition: 0.3s ease-in-out;

  &__button {
    height: 100%;
    font-size: 2.2rem;
    color: lighten($color: $light-color, $amount: 20%);
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 2px 5px rgba($color: #000000, $alpha: 0.3),
      0 0 2px 10px rgba($color: #000000, $alpha: 0.2),
      0 0 2px 15px rgba($color: #000000, $alpha: 0.1);
    outline: none;
  }
}
